@model Domain.CategoryItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Category Item</legend>

    <div class="display-label">ItemName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemName)
    </div>

    <div class="display-label">Enable</div>
    <div class="display-field">
        @Html.ConvertBooleanToYesNo(Model.Enable)
    </div>

    <div class="display-label">ImageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageName)
    </div>

    <div class="display-label">ImageExtension</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageExtension)
    </div>

    <div class="display-label">Priority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">FullImageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullImageName)
    </div>

    <div class="display-label">ImageUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", "Category", new { id = Model.Category.Id },null)
    </p>
}
