@model Domain.CategoryItem

@{
    ViewBag.Title = "EditCategoryItem";
}

<h2>Edit Category Item</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 
    <fieldset>
        <legend>CategoryItem</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ImageName)
        @Html.HiddenFor(model => model.ImageExtension)
        @Html.HiddenFor(model => model.Category.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemName)
            @Html.ValidationMessageFor(model => model.ItemName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enable)
            @Html.ValidationMessageFor(model => model.Enable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageUrl)
            @Html.ValidationMessageFor(model => model.ImageUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageThumbnailUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageThumbnailUrl)
            @Html.ValidationMessageFor(model => model.ImageThumbnailUrl)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    <hr />
     <fieldset>
        <legend>Products</legend>
        <div id="productsResult" data-url="@Url.Action("ListProduto", "Admin", new { id = Model.Id })">

            <p>
                @Html.ActionLink("Create New Product", "CreateProduto", "Admin", new { idCategoryItem = (long)ViewBag.CategoryItemId }, null)
            </p>
            <table style="width:100%">
                <tr>
                    <th>
                        ProductName
                    </th>
                    <th>
                        Qty
                    </th>
                    <th>
                        PaymentCode
                    </th>
                    <th>
                        Enable
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        ImageName
                    </th>
                    <th>
                        Extension
                    </th>
                    <th>
                        ImageUrl
                    </th>
                    <th>
                        PublisheddDate
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in ViewBag.Produtos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentCode)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Enable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageExtension)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishedDate)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditProduto", "Admin", new { id = item.Id }) |
                            @Html.ActionLink("Image", "UploadImageProduto", "Admin", new { id = item.Id }, null) |
                            @Html.ActionLink("Delete", "DeleteProduto", "Admin", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Edit", "Category", new { id = Model.Category.Id }, null)
</div>

    



