@model _30Fans.Models.AdminModel

@{
    ViewBag.Title = "Index";
}

<h2>Admin Area</h2>

<fieldset>
    <legend>Categories</legend>
    <p>
        @Html.ActionLink("Create New Category", "CreateCategory")
    </p>
    <table style="width:90%">
        <tr>
            <th>Category</th>
            <th>Image Url</th>
            <th>Enabled</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>

    @foreach (var item in Model.Categoies) {
        <tr>
            <td>
                @Html.DisplayFor(x => item.CategoryName) 
                <text>(@item.Items.Count())</text>
            </td>
            <td>@Html.DisplayFor(x => item.FullImageName)</td>
            <td>@Html.ConvertBooleanToYesNo(item.Enable)</td>
            <td>@Html.DisplayFor(x => item.Priority)</td>
            <td>
                @Html.ActionLink("Add Item", "AddCategoryItem", "Category",  new {  id=item.Id  }, null) |
                @Html.ActionLink("Edit", "Edit", "Category",  new {  id=item.Id  }, null) |
                @Html.ActionLink("Upload Image", "UploadImage", "Category", new {  id=item.Id  }, null) |
                @Html.ActionLink("Delete", "Delete", "Category" , new { id = item.Id }, null)
            </td>
        </tr>
    }
    </table>
</fieldset>


