@model Domain.Category

<p>
    @Html.ActionLink("Create New", "AddCategoryItem", new { id = Model.Id })
</p>
<table width="90%">
    <tr>
        <th>
            ItemName
        </th>
        <th>
            Enable
        </th>
        <th>
            Priority
        </th>
        <th>
            ImageUrl
        </th>
        <th>
            ImageThumbnailUrl
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.ConvertBooleanToYesNo(item.Enable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageThumbnailUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCategoryItem", new { id=item.Id }) |
            @Html.ActionLink("Upload Image", "UploadImageCategoryItem", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteCategoryItem", new { id=item.Id })
        </td>
    </tr>
}

</table>
