@{
    ViewBag.Title = Resources.About.Title;
}

<div>
    <h1>@Resources.About.Header</h1>
    <p>
        <strong>@Resources.About.Info1</strong>
    </p>
    <p>
        @Resources.About.Info2
    </p>
    <p>
        @Resources.About.Info3
    </p>
    <p>
        @Resources.About.Info4
    </p>   
</div>
