@{
    ViewBag.Title = Resources.Contact.Title;
}

<div>
    <h1>@Resources.Contact.Header</h1>
    <p>
        <strong>@Resources.Contact.Info1</strong>
    </p>
    <p>
        @Resources.Contact.Info2
    </p>
    <p>
        @Resources.Contact.Info3
    </p>
    <p>
        @Resources.Contact.Info4
    </p>   
</div>
