@using Combres.Mvc;
@model Domain.Product
@{
    ViewBag.BodyClass = "page-team loaded";
    ViewBag.Title = Resources.SlideShow.Title;
    var languageHandler = new LanguageHandler();
    var language = languageHandler.GetSelectedLanguage().Replace("-", "_");
    var paypalImgSrc = string.Format("https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif");
    Layout = "~/Views/Shared/_30fans.cshtml";

    var imagem = "~/Styles/images/categories/football.jpg";
    if (!string.IsNullOrEmpty(@Model.ImageUrl))
    {
        imagem = @Model.ImageUrl;
    }
}


<article class="hero">
    <figure class="cover" style="background-image:url('@Url.Content("~/Styles/30fans/img/bg_soccer_westcoast_eagles.jpg")');"></figure>
    <div class="entry-content">
        <figure class="team-brand"><img src="@Url.Content(imagem)" alt="Brand West Coast Eagles"></figure>

        <header>
            <h1 class="hidden-text title-main">
                @Model.ProductName
            </h1>
        </header>

        <aside class="team-year">
            <ol>
                <li class="current active"><a href="javascript:void(0);">2014</a></li>
            </ol>
        </aside>
    </div>
</article>

<article class="post">
    <section class="list-fans">
        <i class="shelf s1"></i><i class="shelf s2"></i><i class="shelf s3"></i><i class="shelf s4"></i><i class="shelf s5"></i>
        <ol>
            @for (int i = 0; i < 30; i++)
            {
                if (ViewBag.FanImages != null && ((List<string>)ViewBag.FanImages).Count > i)
                {
                    <li>
                        <a href="#">
                            <em><span>#</span> @((i + 1).ToString())</em>
                            <figure class="avatar">
                                <img src="@Url.Content("~/FanImages/2014/" + Model.Id.ToString() + "/" + ViewBag.FanImages[i])" alt=" pedro">
                                <figcaption><strong>Nome do Torcedor @((i + 1).ToString())</strong> - Brazil</figcaption>
                            </figure>
                        </a>
                    </li>
                }
                else if (((List<string>)ViewBag.FanImages).Count == i)
                {
                    <li class="b-call-paypal">
                        <a href="#" data-toggle="modal" data-target="#modalFinalizar">
                            <em><span>#</span>@((i + 1).ToString())</em>
                            <img src="@Url.Content("~/Styles/30fans/img/winner-brighter.png" )">
                            <figure class="avatar">
                                <figcaption><span class="txt-1">You.</span> <span class="txt-2">Unique.</span> <span class="txt-3">Forever!</span></figcaption>
                            </figure>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <figure class="no-fan">
                            <img src="@Url.Content("~/Styles/30fans/img/logo-30fans-small.png" )" alt="">
                        </figure>
                    </li>
                }

            }

        </ol>
    </section>
</article>

<div class="modal fade" id="modalFinalizar" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <div class="modal-title">
                    <h3>Be Unique</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </header>

            <div class="modal-body">
                <div class="form-group">
                    <div>
                        @Resources.SlideShow.Price
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="cancelar" class="btn" data-dismiss="modal">Cancelar</button>
                @*<button id="btnFinalizarFluxo" class="btn primary" data-dismiss="modal">PayPal </button>*@
                <a target="blank" href="#" title="" class="btn btn-lg">

                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <p style="text-align:center">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="@Model.PaymentCode">
                            <input type="image" src="@paypalImgSrc" name="submit" alt="@Resources.SlideShow.PaypalAlt">
                            <img alt="" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </p>
                    </form>
                </a>
            </div>
        </div>
    </div>
</div>
