@using Combres.Mvc;
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
		================================================== -->
    <meta charset="utf-8">
    <title>30 Fans</title>
    <meta name="keywords" content="30, fans, football, fame, history, baseball, basketball, soccer, birthday, wedding, fishing, magic, laugh, cricket,   accidents, fame, success, hits, cartoons">
    <meta name="description" content="30 lucky fans become part of internet history!">
    <meta name="author" content="Little NEKO">
    <!-- Mobile Specific Metas
		================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
		================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/ashley/bootstrap/css/bootstrap.min.css")">
    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ashley/js-plugin/animation-framework/animate.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ashley/js-plugin/magnific-popup/magnific-popup.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/ashley/js-plugin/isotope/css/style.css")" >
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ashley/js-plugin/flexslider/flexslider.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ashley/js-plugin/pageSlide/jquery.pageslide.css")" />
    <!-- Owl carousel-->
    <link rel="stylesheet" href="@Url.Content("~/Content/ashley/js-plugin/owl.carousel/owl-carousel/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/ashley/js-plugin/owl.carousel/owl-carousel/owl.theme.css")">
    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/ashley/font-icons/custom-icons/css/custom-icons.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/ashley/font-icons/custom-icons/css/custom-icons-ie7.css")">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/ashley/css/layout.css")">
    <link type="text/css" id="colors" rel="stylesheet" href="@Url.Content("~/Content/ashley/css/colors.css")">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="@Url.Content("~/Content/ashley/js/modernizr-2.6.1.min.js")"></script>
    <!-- Favicons
		================================================== -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/ashley/images/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/ashley/images/apple-touch-icon.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/ashley/images/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/ashley/images/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/ashley/images/apple-touch-icon-144x144.png")">
</head>
<body data-spy="scroll" data-target="#scrollTarget" data-offset="150">
    <!-- Primary Page Layout 
		================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <!-- header -->
        <header id="mainHeader" class="navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <img src="@Url.Content("~/Content/images-home/logo2.jpg")" alt="" width="150" height="85">
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                        <ul class="nav navbar-nav pull-right">

                            <li class="active"><a href="#news"><i class=""></i>Home</a> </li>
                            <li><a href="#works"><i class=""></i>Calendar</a> </li>
                            <li><a href="#cup"><i class=""></i>World Cup</a> </li>
                            <li><a href="#videos"><i class=""></i>Incredible Videos</a> </li>
                            <li><a href="#contactSlice"><i class=""></i>Contact</a> </li>
                            <li><a href="#conditions"><i class=""></i>Conditions</a> </li>
                        </ul>
                    </div>


                </nav>
            </div>
        </header>
            @RenderBody()
        						<section  id="footerRights">
							<div class="container">
								<div class="row">
									<div class="col-sm-6">
										<p>Copyright © 30 Fans, 2013 </p>
									</div>
									<div class="col-sm-6">
										<ul class="socialNetwork pull-right">
											<li><a href="http://www.30fans.com" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
											<li><a href="https://twitter.com/share" class="tips" title=""  data-lang="@Html.GetSelectedLanguage()" data-original-title="follow me on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a></li>
@*											<li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
											<li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
											<li><a href="#" class="tips" title="" data-original-title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>*@
										</ul>     
									</div>
								</div>
							</div>
						</section>
					<!-- global wrapper -->
    <!-- End Document 
		================================================== -->
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/respond/respond.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/jquery/1.8.3/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js")"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/easing/jquery.easing.1.3.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/flexslider/jquery.flexslider-min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/isotope/jquery.isotope.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/neko-contact-ajax-plugin/js/jquery.form.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/magnific-popup/jquery.magnific-popup.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/parallax/js/jquery.stellar.min.js")"></script>
    <!-- <script type="text/javascript" src="js-plugin/smoothscroll/SmoothScroll.js"></script> -->
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/pageSlide/jquery.pageslide-custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js-plugin/owl.carousel/owl-carousel/owl.carousel.min.js")"></script>


    <!-- Custom  -->
    <script type="text/javascript" src="@Url.Content("~/Content/ashley/js/custom.js")"></script>
</body>
</html>

