@using Combres.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta property="fb:admins" content="100005196451991" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="title" content="30 lucky fans become part of internet history.">
	<meta name="keywords" content="30, fans, football, fame, history, baseball, basketball, soccer, birthday, wedding, fishing, magic, laugh, cricket,   accidents, fame, success, hits, cartoons">
	<meta name="description" content="Only a handful of lucky fans become part of internet history!">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/
        html5.js"></script>
    <![endif]-->
    
    @Html.CombresLink("siteCss") 
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>@Html.ActionLink(Resources._NewLayout.MainTitle, "Index", "Home", null, new { @class = "linkTitle" })</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="flags">
                <a href="/Home/ChangeLanguage/pt" ><img src="../../Content/images/languageFlags/brazilFlag.jpg" alt="portuguese" /></a>                                
                <a href="/Home/ChangeLanguage/en" ><img src="../../Content/images/languageFlags/usFlag.jpg" alt="english" /></a>
            </div>
            <nav>
                <ul id="menu">
                    @*<li>@Html.ActionLink(Resources._NewLayout.MenuHome, "Index", "Home")</li>*@
                    <li>@Html.ActionLink(Resources._NewLayout.MenuVideos, "Videos", "Home")</li>
                    <li>@Html.ActionLink(Resources._NewLayout.MenuConditions, "Conditions", "Home")</li>
                    <li><a href="#" id="navContact">@Resources._NewLayout.MenuContact</a></li>
                    @if (User.Identity.IsAuthenticated) {
                        <li>
                            @Html.ActionLink(Resources._NewLayout.MenuAdmin, "Index", "Admin")
                        </li>
                    }
                </ul>
            </nav>
            <div style="background-color: #696969; color:White; width:100%">
                @if (IsSectionDefined("breadcumb")) {
                    @RenderSection("breadcumb");
                }
            </div>                
        </header>
        <section id="main">
            @RenderBody()
            <div id="fb-root"></div>
        </section>
        <footer>
            @Resources._NewLayout.FooterCopyright
            <div class="social-nav-wrapper">
                <ul class="social-nav">
                    <li>
                        <div class="fb-like" data-href="http://www.30fans.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
                    </li>
                    <li>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="@Html.GetSelectedLanguage()">Tweetar</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <div id="contactDialog" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front notVisible" tabindex="-1" role="dialog" title="@Resources._NewLayout.MenuContact">
        @Html.Partial("_Contact")
    </div>

    @Html.CombresLink("siteJs") 
    <script type="text/javascript">
        ;$(function () {
            $('#navContact').on("click", function (e) {
                e.preventDefault();
                $('#contactDialog').dialog({    
                            width: 800,
                            height: 600, 
                            modal: true 
                        });
            });
        });       

        $(".fancybox").fancybox({
            "overlayColor": "#000",  // here you set the background black
            "overlayOpacity": 1,  // here you set the transparency of background: 1 = opaque
            "hideOnOverlayClick": true,  // if true, closes fancybox when clicking OUTSIDE the box
            "hideOnContentClick": true, // if true, closes fancybox when clicking INSIDE the box
            "width": 980, // if type=iframe is always smart to set dimensions
            "height": 640
        });

        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs);
            }
        }
            (document, 'script', 'twitter-wjs');

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
	</script>
</body>
</html>
