
@model Domain.Product
@{
    ViewBag.BodyClass = "page-team";
    var paypalImgSrc = string.Format("https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif");
    Layout = "~/Views/Shared/_Layout.cshtml";

    var imagem = "~/Images/Style/nopicture.jpg";
    if (!string.IsNullOrEmpty(@Model.ImageUrl))
    {
        imagem = @Model.ImageUrl;
    }
    ViewBag.Title = @Model.ProductName + "30 fans";
}


<article class="hero">
    <figure class="cover" style="background-image:url('@Url.Content("~/Images/Style/stadium.jpg")');"></figure>
    <div class="entry-content">
        <figure class="team-brand"><img src="@Url.Content(imagem)" alt="@Model.ProductName"></figure>

        <header>
            <h1 class="hidden-text title-main">
                @Model.ProductName
            </h1>
        </header>

        <aside class="team-year">
            <ol>
                <li class="current active"><a href="javascript:void(0);">2014</a></li>
            </ol>
        </aside>
    </div>
</article>

<article class="post">
    <section class="list-fans">
        <i class="shelf s1"></i><i class="shelf s2"></i><i class="shelf s3"></i><i class="shelf s4"></i><i class="shelf s5"></i><i class="shelf s6"></i><i class="shelf s7"></i><i class="shelf s8"></i><i class="shelf s9"></i><i class="shelf s10"></i>
        <ol>
            @for (int i = 0; i < 30; i++)
            {
                if (ViewBag.FanImages != null && ((List<string>)ViewBag.FanImages).Count > i)
                {
                    <li>
                        <a href="#">
                            <em><span>#</span> @((i + 1).ToString())</em>
                            <figure class="avatar">
                                <img src="@Url.Content("~/Images/Fans/2014/" + Model.Id.ToString() + "/" + ViewBag.FanImages[i])" alt=" pedro">
                                <figcaption><strong>@ViewBag.FanImages[i].Replace(".jpg", "")</strong> - Brazil</figcaption>
                            </figure>
                        </a>
                    </li>
                }
                else if (((List<string>)ViewBag.FanImages).Count == i)
                {
                    <li class="b-call-paypal">
                        <a href="#" data-toggle="modal" data-target="#modalFinalizar">
                            <em><span>#</span>@((i + 1).ToString())</em>
                            <img src="@Url.Content("~/Images/Style/winner-brighter.png" )">
                            <figure class="avatar">
                                <figcaption><span class="txt-1">Click to be</span> <span class="txt-2">unique</span> <span class="txt-3">forever!</span></figcaption>
                            </figure>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <figure class="no-fan">
                            <img src="@Url.Content("~/Images/Style/logo-30fans-small.png" )" alt="">
                        </figure>
                    </li>
                }

            }

        </ol>
    </section>
</article>

<section class="modal fade" id="modalFinalizar" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <div class="modal-title">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Be Unique</h3>
                </div>
            </header>

            <div class="modal-body">
                <h3>Be Unique</h3>
                Click on the PayPal button to see how easy and cheap it is to become part of your club's history !
            </div>

            <div class="modal-footer">                
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="@Model.PaymentCode">
                    
                    <button name="submit" class="btn primary" type="submit">Pay with Paypal</button>
                    
                    <img alt="" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
    </div>
</section>
