@using _30Fans.Resources.Home
@{
    ViewBag.Title = About.Title;
}

<div>
    <h1>@About.Header</h1>
    <p>
        <strong>@About.Info1</strong>
    </p>
    <p>
        @About.Info2
    </p>
    <p>
        @About.Info3
    </p>
    <p>
        @About.Info4
    </p>   
</div>
