@{
    ViewBag.Title = Resources.Index.Title;
}

<div id="ei_menu" class="ei_menu">
    <ul>
	    <li>
		    <a href="#" class="pos1">
			    <span class="ei_preview"></span>
			    <span class="ei_image"></span>
		    </a>
		    <div class="ei_descr">
                <a href="/Football"><h2>@Resources.Index.CategoryOne</h2></a>
                <a href="/Football">
              	    <h3>@Resources.Index.PromoTitleOne</h3>
                </a><br>		
			    <p>
                   @Html.Raw(Resources.Index.PromoDescriptionOne)
                </p>
		    </div>
	    </li>
	    <li>
		    <a href="#" class="pos2">
			    <span class="ei_preview"></span>
			    <span class="ei_image"></span>
		    </a>
		    <div class="ei_descr">
                <a href="/Category/Index/Basketball"><h2>@Resources.Index.CategoryTwo</h2></a>
              	<a href="/Category/Index/Basketball">
              	    <h3>@Resources.Index.PromoTitleTwo</h3>
                </a><br/>						
			    <p>
                    @Html.Raw(Resources.Index.PromoDescriptionTwo)
                </p>
		    </div>
	    </li>
	    <li>
		    <a href="#" class="pos3">
			    <span class="ei_preview"></span>
			    <span class="ei_image"></span>
		    </a>
		    <div class="ei_descr">
                <a href="/Category/Index/Cricket"><h2>@Resources.Index.CategoryThree</h2></a>
              	<a href="/Category/Index/Cricket">
              	    <h3>@Resources.Index.PromoTitleThree</h3>
                </a><br/>		
			    <p>
                    @Html.Raw(Resources.Index.PromoDescriptionThree)
                </p>
		    </div>
	    </li>
	    <br/>
	    <div class="promotext">
		    <span class="gold">
			    <a href="/Football">
				    @Resources.Index.PromoTitleExplanation
			    </a>
		    </span><br><br><br /><br />
		    <span class="instrucao1">@Resources.Index.PromoExplanation1</span><br><br><br /><br />
		    <span class="instrucao2">@Resources.Index.PromoExplanation2</span><br><br><br /><br />
		    <span class="instrucao3">@Resources.Index.PromoExplanation3</span>
	    </div>			
    </ul>
    <hr />
    <h1 class="rightAlign">
        <span class="gold">
            @Html.ActionLink(Resources.Index.MoreCategories, "ListAll", "Category")
        </span>
    </h1>
</div>