@{
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
    ViewBag.Title = Resources.Index.Title;
}

        <section class="slice" id="news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>The TOP 30 FANS 2014</h1>
                    </div>
                    <article class="col-sm-4">

                        <section class="imgWrapper">
                            <img src="@Url.Content("~/Styles/images-home/fan1.jpg")" class="img-responsive" alt="" />
                        </section>
                        <section class="newsText color4">
                            <h3>Football Hall of Fame</h3>
                            <p>Put your foto here and become part of your Club's history - but ONLY 30 fans per Club !</p>
                            <a href="http://www.30fans.com/Football" class="btn btn-sm">View Gallery</a>
                        </section>
                    </article>
                    <article class="col-sm-4">
                        <section class="imgWrapper">
                            <img src="@Url.Content("~/Styles/images-home/fan2.jpg")" class="img-responsive" alt="" />

                        </section>
                        <section class="newsText color4">
                            <h3>Why 30 Fans ?</h3>
                            <p>Imagine: Pel&eacute;.. Messi.. Neymar.. and YOU   Famous - Forever </p>
                            <a href="http://www.30fans.com/Football" class="btn btn-sm">View Gallery</a>
                        </section>
                    </article>
                    <article class="col-sm-4">
                        <section class="imgWrapper">
                            <img src="@Url.Content("~/Styles/images-home/fan3.jpg")" class="img-responsive" alt="" />
                        </section>
                        <section class="newsText color4">
                            <h3>What makes 30 Fans different ?</h3>
                            <p>Billions put their fotos on Facebook. Here -  only the BEST - the TOP 30 FANS !</p>

                            <a href="http://www.30fans.com/Football" class="btn btn-sm">View Gallery</a>
                        </section>
                    </article>


                </div>
            </div>
        </section>

        <section class="slice" id="works">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Calendar</h1>
                        <h2 class="subTitle">Every year the TOP 30 FANS from each Club - Famous Forever!</h2>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div>
                                <img src="@Url.Content("~/Styles/images-home/2015.png")" alt="" class="img-responsive"></div>
                            <section class="boxContent">
                                <h3>Available 01 January</h3>
                                <h3>2015</h3>
                            </section>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div>
                                <img src="@Url.Content("~/Styles/images-home/2016.png")" alt="" class="img-responsive"></div>
                            <section class="boxContent">
                                <h3>Available 01 January</h3>
                                <h3>2016</h3>
                            </section>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div>
                                <img src="@Url.Content("~/Styles/images-home/2017.png")" alt="" class="img-responsive"></div>
                            <section class="boxContent">
                                <h3>Available 01 January</h3>
                                <h3>2017</h3>
                            </section>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div>
                                <img src="@Url.Content("~/Styles/images-home/2018.png")" alt="" class="img-responsive"></div>
                            <section class="boxContent">
                                <h3>Available 01 January</h3>
                                <h3>2018</h3>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice" id="cup">

            <div class="container clearfix">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>World Cup</h1>
                        <h2 class="subTitle">The TOP 30 World Cup Fotos... simply the B.E.S.T !</h2>
                    </div>
                    <article class="col-sm-4 isotopeItem cats">
                        <section class="imgWrapper">
                            <div><a href="http://www.30fans.com/Category/Index/Basketball">
                                <img alt="" src="@Url.Content("~/Styles/images-home/pic12.png")" class="img-responsive"></a></div>
                        </section>
                        <section class="boxContent">
                            <h3>Top 30 World Cup Fans</h3>
                            <h3>2014</h3>
                        </section>
                    </article>

                    <article class="col-sm-4 isotopeItem cats">
                        <section class="imgWrapper">

                            <div>
                                <img src="@Url.Content("~/Styles/images-home/pic13.png")" alt="" class="img-responsive"></div>

                        </section>
                        <section class="boxContent">
                            <h3>Top 30 World Cup Fans</h3>
                            <h3>2018</h3>
                        </section>
                    </article>

                    <article class="col-sm-4 isotopeItem cats">
                        <section class="imgWrapper">
                            <div>
                                <img src="@Url.Content("~/Styles/images-home/pic14.png")" alt="" class="img-responsive"></div>
                        </section>
                        <section class="boxContent">
                            <h3>Top 30 World Cup Fans</h3>
                            <h3>2022</h3>
                        </section>
                    </article>
                </div>
            </div>
            <section class="slice" id="videos">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>100 Hours of Incredible Videos</h1>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Accidents">
                                    <img src="@Url.Content("~/Styles/images-home/pic1.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>Accidents</h3>
                                </section>
                            </article>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Hits">
                                    <img src="@Url.Content("~/Styles/images-home/pic2.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>Hits</h3>
                                </section>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Cartoons">
                                    <img src="@Url.Content("~/Styles/images-home/pic3.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>Cartoons</h3>
                                </section>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Magic">
                                    <img src="@Url.Content("~/Styles/images-home/pic4.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>Magic</h3>
                                </section>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Football">
                                    <img src="@Url.Content("~/Styles/images-home/pic5.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>Football</h3>
                                </section>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Pets">
                                    <img src="images-home/pic7.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>Pets</h3>
                                </section>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Music">
                                    <img src="@Url.Content("~/Styles/images-home/pic6.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>Music</h3>
                                </section>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <div><a href="http://www.30fans.com/Home/ShowVideo/Wtf">
                                    <img src="@Url.Content("~/Styles/images-home/pic8.png")" alt="" class="img-responsive"></a></div>
                                <section class="boxContent">
                                    <h3>WTF</h3>
                                </section>
                            </article>
                        </div>

                    </div>
                </div>
            </section>
            <section class="slice" id="contactSlice">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="col-sm-4">
                            <h3>Did I miss your team?</h3>
                            <center>Let me know
and I will add it.</center>
                            <p></p>
                            <h3>Your photo isn't up yet?</h3>
                            <center>If you made the Top 30 - it will be.
<p></p>
The Best is the Best !
<p></p>
You will proudly be here FOREVER !</center>
                        </div>
                        <form method="post" action="@Url.Content("~/Styles/js-plugin/neko-contact-ajax-plugin/php/form-handler.php")" id="contactfrm" role="form">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="comments">Comments</label>
                                    <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message" title="Please enter your message (at least 10 characters)"></textarea>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4">
                                <div class="result"></div>
                                <center><button name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button></center>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="slice" id="conditions">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Conditions</h1>
                            <center> All purchases are handled by Paypal.<br>
 You can buy as many photos as you like, as long as there are some available.<br>
 As soon as the 30 places are sold out, Paypal automatically stops further sales.<br>
 Your photo cannot be changed, so send the photo you want to be YOU for all time. </br>
<center><br><br>Copyright &#169; 2013 <a href="http://www.30fans.com" target="blank">30 Fans</a> / All rights reserved.</center>
                        </div>
                    </div>

                </div>
    </div>
    </section>

																						</div>
@*
<div id="ei_menu" class="ei_menu">
    <ul>
	    <li>
		    <a href="#" class="pos1">
			    <span class="ei_preview"></span>
			    <span class="ei_image"></span>
		    </a>
		    <div class="ei_descr">
                <a href="/Football"><h2>@Resources.Index.CategoryOne</h2></a>
                <a href="/Football">
              	    <h3>@Resources.Index.PromoTitleOne</h3>
                </a><br>		
			    <p>
                   @Html.Raw(Resources.Index.PromoDescriptionOne)
                </p>
		    </div>
	    </li>
	    <li>
		    <a href="#" class="pos2">
			    <span class="ei_preview"></span>
			    <span class="ei_image"></span>
		    </a>
		    <div class="ei_descr">
                <a href="/Category/Index/Basketball"><h2>@Resources.Index.CategoryTwo</h2></a>
              	<a href="/Category/Index/Basketball">
              	    <h3>@Resources.Index.PromoTitleTwo</h3>
                </a><br/>						
			    <p>
                    @Html.Raw(Resources.Index.PromoDescriptionTwo)
                </p>
		    </div>
	    </li>
	    <li>
		    <a href="#" class="pos3">
			    <span class="ei_preview"></span>
			    <span class="ei_image"></span>
		    </a>
		    <div class="ei_descr">
                <a href="/Category/Index/Cricket"><h2>@Resources.Index.CategoryThree</h2></a>
              	<a href="/Category/Index/Cricket">
              	    <h3>@Resources.Index.PromoTitleThree</h3>
                </a><br/>		
			    <p>
                    @Html.Raw(Resources.Index.PromoDescriptionThree)
                </p>
		    </div>
	    </li>
	    <br/>
	    <div class="promotext">
		    <span class="gold">
			    <a href="/Football">
				    @Resources.Index.PromoTitleExplanation
			    </a>
		    </span><br><br><br /><br />
		    <span class="instrucao1">@Resources.Index.PromoExplanation1</span><br><br><br /><br />
		    <span class="instrucao2">@Resources.Index.PromoExplanation2</span><br><br><br /><br />
		    <span class="instrucao3">@Resources.Index.PromoExplanation3</span>
	    </div>			
    </ul>
    <hr />
    <h1 class="rightAlign">
        <span class="gold">
            @Html.ActionLink(Resources.Index.MoreCategories, "ListAll", "Category")
        </span>
    </h1>
</div>

*@