@{
    ViewBag.Title = "Videos";
}

<h1 class="stylizedH1">Vídeos</h1>

<table class="CategoryList">
    <tr>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Accidents" src="../../Content/images/videos/accidents.png" />
                <div>@Resources.Videos.Accidents</div>
            </a>
        </td>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Basketball" src="../../Content/images/videos/basketball.png" />
                <div>@Resources.Videos.Basketball</div>
            </a>
        </td>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Cartoons" src="../../Content/images/videos/cartoons.png" />
                <div>@Resources.Videos.Cartoons</div>
            </a>
        </td>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Cricket" src="../../Content/images/videos/cricket.png" />
                <div>@Resources.Videos.Cricket</div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Football" src="../../Content/images/videos/football.png" />
                <div>@Resources.Videos.Football</div>
            </a>
        </td>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Hits" src="../../Content/images/videos/hits.png" />
                <div>@Resources.Videos.Hits</div>
            </a>
        </td>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Magic" src="../../Content/images/videos/magic.png" />
                <div>@Resources.Videos.Magic</div>
            </a>
        </td>
        <td>
            <a href="">
                <img class="imageShadow" alt="@Resources.Videos.Wtf" src="../../Content/images/videos/wtf.png" />
                <div>@Resources.Videos.Wtf</div>
            </a>
        </td>
    </tr>
</table>