@model IList<Domain.Product>

@section breadcumb {
    @Html.ActionLink("30Fans", string.Empty, "Home", null, new { @class = "teste" })  <text>>></text>
    @Html.ActionLink(Resources.Categories.ResourceManager.GetObject(Model[0].CategoryItem.Category.CategoryName).ToString(), "Index", "Category", new { id = @Model[0].CategoryItem.Category.CategoryName }, new { @class = "teste" }) <text>>></text>
    @Resources.CategoriesItem.ResourceManager.GetObject(Model[0].CategoryItem.ItemName)
}

<h1 class="stylizedH1">@Resources.CategoriesItem.ResourceManager.GetObject(ViewBag.Title)</h1>





@{ 
    int numCols = 4;
    int colsCount = 0;
}

@foreach (var item in Model) {
    var imageUrl = item.ImageUrl;
    var urlItem = "/Product/SlideShow/" + @item.Id;
    if ((colsCount % numCols) == 0) {
        @:<div class="row-fluid">
    }
        <div class="span3 pagination-centered">
            <a href="@urlItem">
                <img alt="" src="@Url.Content(imageUrl)" class="imageShadow" />
                <div>@Resources.Products.ResourceManager.GetObject(item.ProductName)</div>
            </a>
        </div>

    colsCount++;
    if (colsCount == numCols){
        @:</div>
        colsCount = 0;
    }    
}










@*<table class="CategoryList">

@{ 
    int numCols = 4;
    int colsCount = 0;
}

@foreach (var item in Model) {
    var imageUrl = item.ImageUrl;
    var urlItem = "/Product/SlideShow/" + @item.Id;
    if ((colsCount % numCols) == 0) {
        @:<tr>
    }
        <td>
            <a href="@urlItem">
                <img alt="" src="@Url.Content(imageUrl)" />
                <div>@Resources.Products.ResourceManager.GetObject(item.ProductName)</div>
            </a>
        </td>

    colsCount++;
    if (colsCount == numCols){
        @:</tr>
        colsCount = 0;
    }    
}

</table>*@

