@model IList<Domain.Product>
@{

    Layout = "~/Views/Shared/_Bootstrap.cshtml";
}

@*
@section breadcumb {
    @Html.ActionLink("30Fans", string.Empty, "Home", null, new { @class = "teste" })  <text>>></text>
    @Html.ActionLink(Resources.Categories.ResourceManager.GetObject(Model[0].CategoryItem.Category.CategoryName).ToString(), "Index", "Category", new { id = @Model[0].CategoryItem.Category.CategoryName }, new { @class = "teste" }) <text>>></text>
    @Resources.CategoriesItem.ResourceManager.GetObject(Model[0].CategoryItem.ItemName)
}
*@

<section id="cup" class="slice" style="height: 1747px;">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-12">
                <h1>@Resources.CategoriesItem.ResourceManager.GetObject(ViewBag.Title)</h1>
                <h2 class="subTitle">Be one of the 30 fans of your team</h2>
            </div>
            <nav class="col-md-12 text-center" id="filter">
                <ul>
                    <li><a data-filter="*" class="btn btn-sm current" href="">All</a></li>
                    <li><a data-filter=".america" class="btn btn-sm" href="">Americas</a></li>
                    <li><a data-filter=".europe" class="btn btn-sm " href="">Europe</a></li>
                    <li><a data-filter=".asia" class="btn btn-sm" href="">Asia</a></li>
                    <li><a data-filter=".africa" class="btn btn-sm" href="">Africa</a></li>
                </ul>
            </nav>

            <div id="3" class="portfolio-items  isotopeWrapper clearfix imgHover isotope" style="position: relative; overflow: hidden; height: 462px;">

                @foreach (var item in Model.OrderByDescending(x => x.Priority).ToList())
                {




                    var imageUrl = item.ImageUrl;
                    var urlItem = "/Product/SlideShow/" + @item.Id;
                 
                    <article class="col-sm-4 isotopeItem america">
                        <section class="imgWrapper">
                            <a href="@urlItem" >
                                <img alt="" src="@Url.Content(imageUrl)" class="img-responsive" style="margin:auto;">
                            </a>
                        </section>
                        <div class="mediaHover">
                            <div class="mask"></div>
                            <div class="iconLinks">
    
                                <a href="@urlItem" class="image-link" title="Full width image">
                                    <i class="icon-search iconRounded iconBig"></i>
                                    <span>Go Fan</span>
                                </a>
                            </div>
                        </div>
                        <section class="boxContent">
                            <a href="@urlItem">
                                <h3 style="text-align: center">@item.ProductName </h3>
                            </a>

                        </section>
                    </article>
                 
                 
                 

                }


            </div>
        </div>
    </div>
</section>


@*


<h1 class="stylizedH1">@Resources.CategoriesItem.ResourceManager.GetObject(ViewBag.Title)</h1>





@{ 
    int numCols = 4;
    int colsCount = 0;
}

@foreach (var item in Model) {
    var imageUrl = item.ImageUrl;
    var urlItem = "/Product/SlideShow/" + @item.Id;
    if ((colsCount % numCols) == 0) {
        @:<div class="row-fluid">
    }
        <div class="span3 pagination-centered">
            <a href="@urlItem">
                <img alt="" src="@Url.Content(imageUrl)" class="imageShadow" />
                <div>@Resources.Products.ResourceManager.GetObject(item.ProductName)</div>
            </a>
        </div>

    colsCount++;
    if (colsCount == numCols){
        @:</div>
        colsCount = 0;
    }    
}




*@





@*<table class="CategoryList">

@{ 
    int numCols = 4;
    int colsCount = 0;
}

@foreach (var item in Model) {
    var imageUrl = item.ImageUrl;
    var urlItem = "/Product/SlideShow/" + @item.Id;
    if ((colsCount % numCols) == 0) {
        @:<tr>
    }
        <td>
            <a href="@urlItem">
                <img alt="" src="@Url.Content(imageUrl)" />
                <div>@Resources.Products.ResourceManager.GetObject(item.ProductName)</div>
            </a>
        </td>

    colsCount++;
    if (colsCount == numCols){
        @:</tr>
        colsCount = 0;
    }    
}

</table>*@

