<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	@if (string.IsNullOrEmpty(ViewBag.Title))
	{
	    <title>30 Fans - To be unique</title>
	}
	else
	{
	    <title>@ViewBag.Title - 30 Fans</title>
	}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,200,300,600,700,800,900' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@Url.Content("~/Images/Style/favicons/Icon-76@2x.png" )">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Images/Style/favicons/Icon-72@2x.png")">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@Url.Content("~/Images/Style/favicons/Icon-60@2x.png")">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Images/Style/favicons/Icon@2x.png")">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Images/Style/favicons/Icon-72.png")">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Images/Style/favicons/Icon.png")">

    <link rel="icon" href="@Url.Content("~/Images/Style/favicons/Icon-32.png")" sizes="32x32">

    <!-- IE 10 Metro tile icon (Metro equivalent of apple-touch-icon) -->
    <meta name="msapplication-TileColor" content="#1a8bb3">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Images/Style/favicons/Icon-72@2x.png")">
</head>
<body class="@ViewBag.BodyClass">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div id="brand">
					@if (string.IsNullOrEmpty(ViewBag.Title))
					{
					    <strong>30 Fans - To be unique</strong>
					}
					else
					{
						<a href="@Url.Content("~/")" rel="home" title="Go back home">
						    <strong>30 Fans - To be unique</strong>
						</a>
					}
                </div>
            </div>
        </header>

        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <nav id="nav-global">
                    <ul>
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#modalContact">Contact</a></li>
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#modalTerms">Terms of Use</a></li>
                    </ul>
                </nav>
                <em class="txt-copyright">30 Fans - All rights reserved.</em>
            </div>
        </footer>
    </div>
    

<section class="modal fade" id="modalContact" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <div class="modal-title">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Contact</h3>
                </div>
            </header>

            <div class="modal-body">
                @* @Html.RenderPartial("~/Shared/_Contact.cshtml") *@
            </div>

            <div class="modal-footer">
                <button id="cancelar" class="btn" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</section>

<section class="modal fade" id="modalTerms" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <div class="modal-title">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Terms of Use</h3>
                </div>
            </header>

            <div class="modal-body">
                @* @Html.RenderPartial("~/Shared/_Contact.cshtml") *@
            </div>

            <div class="modal-footer">
                <button id="cancelar" class="btn" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</section>


    
    <!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-52067661-1', '30fans.com');
	  ga('send', 'pageview');	
	</script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

